body{
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

nav{
    background-color: #234465;
    padding: 15px;

}
nav ul li{
    padding: 0 20px;
    display: inline-block;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul{
    text-align: center;
    margin: 0;
    padding: 10px
}