body{
    width: 50;
    display: grid;
    text-align: center;
    font-family: sans-serif;
}
h3{
    text-align: center;
    color: #234465;
}
li{
    text-align: center;
    padding-top: 13px;
    border-bottom: 1px solid black;
    color: #333333;
}
body{
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;   
    margin: 0; 
}
article{
    width: 420px;
    margin: 15px auto;
    background-color: #E6E5E5;
    padding: 40px;   
}

